@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,300;1,700;1,900&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
}

h1,
h2 {
  font-family: "Roboto";
}

h1.title {
  color: red;
}

.pctopts {
  border-right: solid 2px gray;
}

body {
  counter-reset: h2counter;
}

h1:before {
  content: counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
  counter-reset: h3counter;
}
h2:before {
  content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  counter-increment: h3counter;
}
